<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Car Price Estimation</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "English", url_for(locale: :en), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Русский", url_for(locale: :ru), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Українська", url_for(locale: :ua), class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<%= form_with scope: @car, url: cars_url, method: :get do |form| %>
  <div class="container mt-3" style="text-align: center;">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <p class="mt"><%= form.label :year, I18n.t('car.year') %></p>
        <%= form.select :year, (1930..2022).to_a.reverse, { include_blank: true }, class: "form-control" %>

        <p class="mt"><%= form.label :brands, I18n.t('car.brand') %></p>
        <%= form.text_field :brands, class:"form-control" %>

        <p class="mt"><%= form.label :model, I18n.t('car.model') %></p>
        <%= form.text_field :model, class:"form-control" %>
      </div>
      <div class="col-sm-6 col-md-6">
        <p class="mt"><%= form.label :condition, I18n.t('car.condition') %></p>
        <%= form.text_field :condition, class:"form-control" %>

        <p class="mt"><%= form.label :engine_volume, I18n.t('car.engine_volume') %></p>
        <%= form.text_field :engine_volume, class:"form-control" %>

        <p class="mt"><%= form.label :mileage, I18n.t('car.mileage') %></p>
        <%= form.text_field :mileage, class:"form-control" %>

        <p class="mt"><%= form.label :fuel_type, I18n.t('car.fuel_type') %></p>
        <%= form.select :fuel_type_floor, options_for_select([
                                                               [I18n.t('car.fuel_type_floor.gasoline'), 'gasoline'],
                                                               [I18n.t('car.fuel_type_floor.diesel'), 'diesel'],
                                                               [I18n.t('car.fuel_type_floor.electric'), 'electric'],
                                                               [I18n.t('car.fuel_type_floor.gas'), 'gas']
                                                             ]), { include_blank: true }, class: "form-control" %>

        <p class="mt"><%= form.label :number_owners, "Нou are the first owner?" %></p>
        <%= form.check_box :number_owners, class: "form-control" %>

        <p class="mt"><%= form.label :transmission_type, "Transmission type" %></p>
        <%= form.text_field :transmission_type, class: "form-control" %>

        <p class="mt"><%= form.label :motor_engine_size_litre, "Motor engine size (litre)" %></p>
        <%= form.text_field :motor_engine_size_litre, class: "form-control" %>

        <p class="mt"><%= form.label :drive_type, "Drive type" %></p>
        <%= form.text_field :drive_type, class: "form-control" %>

        <p class="mt"><%= form.label :color, "Color" %></p>
        <%= form.text_field :color, class: "form-control" %>

        <p class="mt"><%= form.label :needs_body_repair, "Needs body repair?" %></p>
        <%= form.check_box :needs_body_repair %>

        <p class="mt"><%= form.label :needs_engine_repair, "Needs engine repair?" %></p>
        <%= form.check_box :needs_engine_repair %>

        <p class="mt"><%= form.label :needs_undercarriage_repair, "Needs undercarriage repair?" %></p>
        <%= form.check_box :needs_undercarriage_repair %>
      </div>
    </div>
    <div class="mt-3">
      <%= form.submit I18n.t('car.submit'), class: 'btn button-main btn-lg', style:"color:white;" %>
    </div>
  </div>
<% end %>

